@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Lato:ital,wght@0,400;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,300;1,400&family=Poppins:wght@200&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  /* color: #777; */
  /* background-color: #f4f4f4; */
  background-color: rgb(67, 86, 35);
}

.Existence{
  background-color: blue;
  color: #fff;
  position: fixed;
  top: 7rem;
  right: 0;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

/*-------------- NAVBAR-------------  */

.social-media {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  gap: 6rem;
  display: flex;
  background-color: #4e6820;
  justify-content: space-between;
}

.social-media ul {
  display: flex;
  list-style: none;
  padding: 0 5rem;
}

.social-icons li, .call-order li {
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  padding: 0 0.3rem;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  color: #fff;
  top: 30px;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 1;
  background-color: #4e6820;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

nav ul{
  display: flex;
  gap: 1.3rem;
  list-style: none;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.shopping-cart {
  position: relative;
  cursor: pointer;
  margin-right: 3rem;
  background: none;
  border: none;

}

.item-count {
  position: absolute;
  top: 4px;
  padding: 0 4px;
  font-size: 16px;
  right: -1px;
  background-color: #4e6820;
  color: #fff;
}

/*-------------- FOOTER -------------  */

footer {
  background-color: #4e6820;
  color: #fff;
  padding: 4rem 0;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  left: 0;
} 

.row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  padding: 0.3rem 1rem;
  color: #fff;
}

.col-1 li {
  list-style: none;
  margin-bottom: 1rem;
}

.col-1 a {
  text-decoration: none;
  color: #fff;
}

.col-1 h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.follow {
 font-size: 1.4rem;
}

.follow li, .links li {
  padding: 0 1.5rem;
}

/*-------------- END FOOTER -------------  */

/*-------------- HOME START -------------  */

.image-slide-wrapper {
  margin:8rem 7rem 1rem 7rem;
  
}

.image-slide-wrapper img {
  margin: 0 auto;
  width: 70%;
  height: 20rem;
}
/*-----------End Home --------------  */
/*-----------START FRONT MEALS --------------  */

.home-meals-wrapper {
  margin: 1rem 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  color: #fff;
  text-decoration: none;
  position: relative;

}

.home-meals {
  color: #fff;
  text-decoration: none;
  border: 1px solid #4e6820;
  border-radius: 25px;
  margin: 10px 10px;
}

.home-meals img {
  width: 100%;
  height: 10rem;
  border-radius: 25px 25px 0 0;
}

.home-meals p {
  font-size: 1.3rem;
  width: 90%;
  padding: 5px 5px;

}

/*-----------START MEALS/FOOD STYLING --------------  */

.meals-container {
  margin: 9rem 10px 10px 10px;
}

.meal-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  text-align: center;
  margin: 10px 10px;
  padding: 10px 10px;
  border: 1px solid #4e6820;
  border-radius: 25px;
  color: #fff;
  box-shadow:inset 0 0 10px #74fd78;
}

.meal-card img {
  width: 100%;
  height: 10rem;
  border-radius: 25px 25px 0 0;
}

.meal-card-btn button {
  background-color: #4e6820;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 25px;
  font-size: 1.2rem;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close-btn {
  position: fixed;
  top: 7rem;
  right: 0;
  color: #4e6820;
  border: none;
  background: none;
  padding: 1rem 2rem;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
}

.cart-wrapper {
  margin: 9rem 10px 10px 10px;
}

.cart-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  /* justify-content: space-between; */
  gap: 2rem;
  align-items: center;
  margin: 1rem;
}


.cart-container button {
  margin: 0 0.1rem;
  background: none;
  font-size: 1.4rem;
  color: white;
  padding: 9px;
  border-radius: 5px;
}

.cart-container img {
  width: 100%;
  height: 10rem;
  border-radius: 10px 10px 0 0;
}